{% extends 'index.html' %}
{% load staticfiles %}
{% load macros %}
{% loadmacros 'macros.html' %}

{% block title %}
    Call For Submissions
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'jQuery-Timepicker-Addon-master/dist/jquery-ui-timepicker-addon.css' %}" />
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'jQuery-Timepicker-Addon-master/dist/jquery-ui-timepicker-addon.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery-Timepicker-Addon-master/dist/i18n/jquery-ui-timepicker-addon-i18n.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery-Timepicker-Addon-master/dist/jquery-ui-sliderAccess.js' %}"></script>

    <script type="text/javascript">
        $(function(){
            $('.filepickers').hide();
            $('#photo_file_button').click(function(){
                {{ photo_upload_form.photo_file.id_for_label }}.click();
            });

            $('.timesliders').timepicker(
                    {
                        timeFormat: "hh:mm tt"
                    }
            );

            $('.timesliders').prop('readonly', true);

            $('#photo_upload_submit').prop('disabled', true);
            
            $('.filepickers').change(function(){
                $('#photo_upload_submit').prop('disabled', (! canSubmit()));
            })

            $('.timesliders').change(function(){
                $('#photo_upload_submit').prop('disabled', (! canSubmit()));
            })

            $('.emails').change(function(){
                $('#photo_upload_submit').prop('disabled', (! canSubmit()));
            })

            $('.twitter-user').change(function(){
                if  (
                        ({{ photo_upload_form.submitter_twitter.id_for_label }}.value.charAt(0) != '@') &&
                        ({{ photo_upload_form.submitter_twitter.id_for_label }}.value.length > 0)
                )
                {
                    {{ photo_upload_form.submitter_twitter.id_for_label }}.
                    value = '@' +
                    {{ photo_upload_form.submitter_twitter.id_for_label }}.
                    value;
                }
                $('#photo_upload_submit').prop('disabled', (! canSubmit()));
            })
        });

        function isEmpty(element){
            return (element.value == null) || (element.value == "")
        }

        function canSubmit(){
            if (isEmpty({{ photo_upload_form.photo_file.id_for_label }}))
                return false
            if (isEmpty({{ photo_upload_form.photo_time.id_for_label }}))
                return false
            if (
                    isEmpty({{ photo_upload_form.submitter_email.id_for_label }}) &&
                    isEmpty({{ photo_upload_form.submitter_twitter.id_for_label }})
            )
                return false
            return true
        }
    </script>
{% endblock %}

{% block content %}
    <h2>Contribute to {% usemacro project_name %}</h2>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ photo_upload_form.non_field_errors }}
        <div class="fieldWrapper">
            {{ photo_upload_form.photo_file.errors }}
            {{ photo_upload_form.photo_file }}
            <input type="button" value="Select a photo" class='btn btn-default btn-lg' id="photo_file_button" />
        </div>
        <div class="fieldWrapper">
            {{ photo_upload_form.photo_time.errors }}
            {{ photo_upload_form.photo_time.label_tag }}
            <br>
            {{ photo_upload_form.photo_time }}
        </div>
        <div class="submitter-contact-wrapper">
            <div class="fieldWrapper submitter-contact-email">
                {{ photo_upload_form.submitter_email.errors }}
                {{ photo_upload_form.submitter_email.label_tag }}
                <br>
                {{ photo_upload_form.submitter_email }}
            </div>
            <div class="fieldWrapper submitter-contact-conjunction">or</div>
            <div class="fieldWrapper submitter-contact-twitter">
                {{ photo_upload_form.submitter_twitter.errors }}
                {{ photo_upload_form.submitter_twitter.label_tag }}
                <br>
                {{ photo_upload_form.submitter_twitter }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="fine-print">
                    By submitting your photo, you agree to make it available for this project.
                    You also confirm that you have the right to submit this photo to the project.
                    All submitted photos will be made available under the
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        Creative Commons Attribution 4.0 International License
                    </a>.
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        <img alt="Creative Commons License" style="border-width:0"
                             src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                    </a>
                </p>
            </div>
        </div>
        <input type="submit" value="Submit" class='btn btn-default btn-lg' id="photo_upload_submit" />
    </form>
{% endblock %}

{% block contact %}
    <h2>Contact {% usemacro project_name %}</h2>
    <p>Send an email about the project.</p>
    <p>
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {{ contact_form.non_field_errors }}
            <div class="fieldWrapper">
                {{ contact_form.subject.errors }}
                {{ contact_form.subject.label_tag }}
                <br>
                {{ contact_form.subject }}
            </div>
            <div class="fieldWrapper">
                {{ contact_form.message.errors }}
                {{ contact_form.message.label_tag }}
                <br>
                {{ contact_form.message }}
            </div>
            <div class="fieldWrapper">
                {{ contact_form.sender.errors }}
                {{ contact_form.sender.label_tag }}
                <br>
                {{ contact_form.sender }}
            </div>
            <div class="fieldWrapper" hidden="true">
                {{ contact_form.cc_myself.errors }}
                {{ contact_form.cc_myself.label_tag }}
                <br>
                {{ contact_form.cc_myself }}
            </div>
            <input type="submit" value="Submit" class="btn btn-default btn-lg"/>
        </form>
    </p>
    <ul class="list-inline banner-social-buttons">
        <li>
            <a href="https://twitter.com/photo_clock" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
            <a href="https://bitbucket.org/jmathews/pyclock" class="btn btn-default btn-lg"><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">Bitbucket</span></a>
        </li>
    </ul>
{% endblock %}
