{% extends 'base.html' %}
{% load staticfiles %}
{% load macros %}
{% loadmacros 'macros.html' %}


{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> {% usemacro project_name %} Home
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contribute</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{% usemacro project_name %}</h1>
                        <p class="intro-text">An open source project <br> to build a clock <br> using crowd-sourced photos.</p>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% usemacro message_tag_to_bootstrap_tag message %} {{ message.tags }}" role="alert">
                                    <strong> {{ message }} </strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% usemacro next 'about' %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About {% usemacro project_name %}</h2>
                <p>
                    Inspired by a screening of
                    <a href="http://en.wikipedia.org/wiki/Christian_Marclay">Christian Marclay</a>'s
                    <a href="http://www.macm.org/en/expositions/christian-marclay-the-clock-2/">The Clock</a>
                    after spending nearly a week immersed in <a href="https://us.pycon.org/2014/">Python culture</a>,
                    I was inspired to merge my love of <a href="https://www.flickr.com/photos/justinmathews/">photography</a>
                    with a spare <a href="http://www.raspberrypi.org/">Raspberry Pi</a>.
                </p>
                <p>
                    The result was <a href="https://bitbucket.org/jmathews/pyclock">pyclock</a>,
                    a small piece of open source software that runs on a <a href="http://www.raspberrypi.org/">Raspberry Pi</a>
                    connected to a <a href="https://www.adafruit.com/products/1287">10.1" LCD panel</a>.
                    Rather than just displaying digits on the screen to tell you the time, the software looks in its
                    collection of photos and randomly pics one that shows the current time. The intent is that the collection will
                    contain photos that have a clock visible, somewhere.
                </p>
                <p>
                    That's where you come in. If I want just a single photo for each minute of the day, that's
                    24 x 60 = 1440 individual photos. If I tried to do this with only my own photos, it would take a long time
                    and lack variety. So I'm asking you to upload any photo you'd like to share that contains some visible
                    indication of the time.
                </p>
                {% usemacro next 'contribute' %}
            </div>
        </div>
    </section>

    <!-- Contribute Section -->
    <section id="contribute" class="content-section text-center">
        <div class="contribute-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% usemacro next 'contact' %}
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    {% block contact %}
                    {% endblock %}
                </div>
            </div>
            {% usemacro top %}
        </div>
    </section>
{% endblock %}
