{% load macros %}

{% macro project_name %}Photo<span class="light">Clock</span>{% endmacro %}
{% macro project_name_no_markup %}PhotoClock{% endmacro %}

{% macro next target %}
    <a href="#{{ target }}" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
{% endmacro %}

{% macro top %}
    <a href="#page-top" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-up animated"></i>
    </a>
{% endmacro %}

{% macro message_tag_to_bootstrap_tag message %}
    {% if "debug" in message.tags %}
        alert-info
    {% elif "info" in message.tags %}
        alert-info
    {% elif "success" in message.tags %}
        alert-success
    {% elif "warning" in message.tags %}
        alert-warning
    {% elif "error" in message.tags %}
        alert-danger
    {% endif %}
{% endmacro %}