.intro {
    background-image: url(../img/2012_04_22_21_31_01_0008.jpg);
}

.contribute-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/20071128_0215.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/2012_04_22_21_36_54_0015.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fieldWrapper {
    padding-top: 1em;
    padding-bottom: 1em;
}

.fine-print {
    font-family: sans-serif;
    font-size: small;
}

.submitter-contact-wrapper {
    margin: 0 auto;
}

.submitter-contact-email, .submitter-contact-twitter, .submitter-contact-conjunction {
    float: left;
}

.submitter-contact-email {
     width: 45%;
}

.submitter-contact-conjunction {
     width: 10%;
}

.submitter-contact-twitter {
     width: 45%;
}

.photo-section {
    padding-top: 2em;
}

.photo_single {
    width: 100%;
}

.photo_row {
}

.photo_col {
}